{template "content","header"}
<div class="contain">
	<div class="banner">
		<div class="index_focus">

			<a href="javascript:;" class="index_focus_pre" title="上一张">上一张</a> <a
				href="javascript:;" class="index_focus_next" title="下一张">下一张</a>

			<div class="bd">
				<ul style="position: relative; width: 1440px; height: 300px;">
					{pc:content action="position" posid="21" order="listorder DESC"
					num="5"} {loop $data $r}
					<li style="position: absolute; width: 1440px; left: 0px; top: 0px; display: none;">
					<a href="{$r[url]}" class="pic"> <img class="pic"
							src="{$r[thumb]}" max-height="395" width="100%"
							alt="">
					</a></li> 
					{/loop} {/pc}
				</ul>
			</div>

			<div class="slide_nav">
				{pc:content action="position" posid="21" order="listorder DESC"
				num="5"} {loop $data $r} <a href="javascript:;">●</a> {/loop} {/pc}

			</div>

		</div>
		<script type="text/javascript">
$(document).ready(function(){

	$(".index_focus").hover(function(){
		$(this).find(".index_focus_pre,.index_focus_next").stop(true, true).fadeTo("show", 1)
	},function(){
		$(this).find(".index_focus_pre,.index_focus_next").fadeOut()
	});
	
	$(".index_focus").slide({
		titCell: ".slide_nav a ",
		mainCell: ".bd ul",
		delayTime: 500,
		interTime: 3500,
		prevCell:".index_focus_pre",
		nextCell:".index_focus_next",
		effect: "fold",
		autoPlay: true,
		trigger: "click",
		startFun:function(i){
			$(".index_focus_info").eq(i).find("h3").css("display","block").fadeTo(1000,1);
			$(".index_focus_info").eq(i).find(".text").css("display","block").fadeTo(1000,1);
		}
	});

});
</script>
	</div>
	<div class="docbody clearfix">
		<div class="main clearfix">
			<div class="bg_f4f5f7 clearfix">
				<div class="leftCon">
					<div class="title">
						<h3 class="f_16">管乐资讯</h3>
						<a class="more">更多>></a>
					</div>
					<div class="w_180">
					{pc:content action="position" posid="1" order="listorder DESC"
							num="1"} {loop $data $r}
							<img src="{thumb($r[thumb],180,121)}">
							{/loop} {/pc}
						<ul class="slide">
						{pc:content action="position" posid="1" order="listorder DESC"
							num="3"} {loop $data $r}
							<li><img src="{thumb($r[thumb],55,36)}" width="55" height="36"></li>
							{/loop} 
							{/pc}
						</ul>
					</div>
					<div class="w_340">
						{pc:content action="position" posid="1" order="listorder DESC"
							num="1"} {loop $data $r}
							<p class="first">
								<b>{$r[title]}</b><span class="time">{date('y/m/d',$r[inputtime])}</span>
							</p>
							<p class="h_40 releative">
								{$r[content]}<a class="xiangxi"
									style="right: 10px;" href="#">详细》</a>
							</p>
							{/loop} {/pc}
						<ul class="news">
							{pc:content action="position" posid="1" order="listorder DESC"
							num="3"} {loop $data $r}
							<li><a href="{$r[url]}">{$r[title]}</a><span>{date('y/m/d',$r[inputtime])}</span></li>
							{/loop} {/pc}
						</ul>
					</div>
				</div>
				<div class="rightCon">
					<div class="title">
						<h3 class="f_16">通知公告</h3>
						<a class="more">更多>></a>
					</div>
					<ul class="news" style="margin-top: 0px;">
						{pc:content action="lists" catid="9" order="ID DESC" num="5"}
						{loop $data $r}
						<li><a href="{$r[url]}">{$r[title]}</a><span>{date('y/m/d',$r[updatetime])}</span></li>
						{/loop} {/pc}
					</ul>
				</div>
			</div>
		</div>
		<div class="main search">
			<form>
				<label>搜索范围:</label><select class="sel"><option>全文</option>
					<option>全文</option>
					<option>全文</option></select> <label>关键字:</label><input type="text"
					class="txt"> <a class="searchButton" href="#">搜索</a>
			</form>
		</div>
		<div class="main">
			<div class="bg_f4f5f7 clearfix">
				<div class="title">
					<h3 class="f_16">活动展览</h3>
					<a class="more">更多>></a>
				</div>
				<ul class="listImg">
					{pc:content action="lists" catid="10" order="listorder DESC"
					num="5"} {loop $data $r}
					<li><a href="{$r[url]}"><img src="{thumb($r[thumb],218,102)}"></a></li>
					{/loop} {/pc}
				</ul>
				<ul class="news activityCon fl">
					{pc:content action="lists" catid="10" order="listorder DESC"
					num="5"} {loop $data $r}
					<li><a href="{$r[url]}">{$r[title]}</a><span>{date('y/m/d',$r[updatetime])}</span></li>
					{/loop} {/pc}
				</ul>
				<ul class="news activityCon fr">
					{pc:content action="lists" catid="10" order="listorder DESC"
					num="5"} {loop $data $r}
					<li><a href="{$r[url]}">{$r[title]}</a><span>{date('y/m/d',$r[updatetime])}</span></li>
					{/loop} {/pc}
				</ul>
			</div>
			<div class="bg_f4f5f7 clearfix" style="margin-top: 20px;">
				<div class="title">
					<h3 class="f_16">学会简介</h3>
					<a class="more">更多>></a>
				</div>
				<p class="sidebarleft">在海外，有一群热爱歌曲创作和演唱的华人群热爱歌曲创作和演唱的华人群热爱歌曲创作和演唱的华人群热爱歌曲创作和演唱的华人群热爱歌曲创作和演唱的华人群热爱歌曲创作演唱的华人群热爱歌曲创作演唱的华人群热爱歌曲创作演唱的华人群热爱歌曲创作演唱的华人群热爱歌曲创作演唱的华人群热爱歌演唱的华人群热爱歌曲创作演唱的华人群热爱歌曲创作曲创作和演唱的华人</p>
				<div class="sidebarcenter">
					<span class="f_16">申请会员的基本要求可以获得福利：</span>
					<p class="c_cen">
						作和演唱的华人群热爱歌曲创作和演唱的爱歌曲创作和演唱的华人群热华人群热爱作和演唱的华人群热爱歌曲创作和演唱的华人群热爱<a
							class="xiangxi">详细》</a>
					</p>
					<a class="member" href="#">个人会员申请</a>
				</div>
				<div class="sidebarcenter">
					<span class="f_16">申请会员的基本要求可以获得福利：</span>
					<p class="c_cen">
						作和演唱的华人群热爱歌曲创作和演唱的华人群热爱作和演唱的华人群热爱歌曲创作和演唱的华人群热爱<a class="xiangxi">详细》</a>
					</p>
					<a class="member" href="#">个人会员申请</a>

				</div>
			</div>
		</div>

		<p>
			<img src="image/avent.jpg">
		</p>
		<div class="main clearfix">
			<div class="pin">
				<div class="title">
					<h3 class="f_16">专家风采</h3>
					<a class="more">更多>></a>
				</div>
				<dl class="pro clearfix">
					<dt>
						<img src="image/porect.jpg">
					</dt>
					<dd>
						<h3 class="tit">专家姓名：黄老师</h3>
						<p class="info">个字自动省略字自个字自动省略字自个字自动省略字自个字自动省略字自个字自动省略字自个字自动省略字自</p>
					</dd>
				</dl>
				<p class="info clearfix">自动省略字自个字自动省略字自个字自自动省略字自个字自动省略字自个字自自动省略字自个字自动省略字自个字自自动省略字自个字自动省略字自个字自自动省略字自个字自动省略字自个字自</p>
			</div>
			<div class="pin">
				<div class="title">
					<h3 class="f_16">团队会员风采</h3>
					<a class="more">更多>></a>
				</div>
				<dl class="pro clearfix">
					<dt>
						<img src="image/porect.jpg">
					</dt>
					<dd>
						<h3 class="tit">专家姓名：黄老师</h3>
						<p class="info">
							个字自动省略字自个字自动省略字自个字自动省略字自个字自动省略字自个字自动省略字自个字自动省略字自</p>
					</dd>
				</dl>
				<p class="info clearfix">自动省略字自个字自动省略字自个字自自动省略字自个字自动省略字自个字自自动省略字自个字自动省略字自个字自自动省略字自个字自动省略字自个字自自动省略字自个字自动省略字自个字自</p>
			</div>
		</div>
		<div class="m_t">
			<div class="main clearfix">
				<div class="title">
					<h3 class="f_16">管乐资料</h3>
				</div>
				<div class="hot_book">
					<h3 class="tit">热门书籍</h3>
					<ul class="line clearfix">
						{pc:content action="position" posid="19" order="listorder DESC"
						num="4" moreinfo="1" } {loop $data $r}
						<li><a href="{$r[url]}"><img
								src="{thumb($r[thumb],89,116)}" width="89" height="116"><br>阅读：{$r[times]}次<br>价格：{$r[price]}元</a></li>
						{/loop} {/pc}

					</ul>
				</div>
				<div class="clickVideo">
					<h3 class="tit">视频点播排行版</h3>
					<ul class="line">
						<li><em class="lines">1</em><a href="">演示视频详视视频详视频详频详情</a></li>
						<li><em class="lines">2</em><a href="">演示视频详情</a></li>
						<li><em class="lines">3</em><a href="">演示视视频详频详情</a></li>
						<li><em>4</em><a href="">演示视视频详频详情</a></li>
						<li><em>5</em><a href="">演示视频详情</a></li>
					</ul>
				</div>
				<div class="clickVideo">
					<h3 class="tit">视频点播排行版</h3>
					<ul class="line">
						<li><em class="lines">1</em><a href="">演示视频详视视频详视频详频详情</a></li>
						<li><em class="lines">2</em><a href="">演示视频详情</a></li>
						<li><em class="lines">3</em><a href="">演示视视频详频详情</a></li>
						<li><em>4</em><a href="">演示视视频详频详情</a></li>
						<li><em>5</em><a href="">演示视频详情</a></li>
					</ul>
				</div>
			</div>
		</div>
		<p>
			{pc:content action="position" posid="12" order="listorder DESC"
						num="1"} {loop $data $r}
									<img src="{$r[thumb]}">
						
						{/loop} {/pc}
		
		</p>

		<div class="main clearfix">

			<div class="blk_18">
				<span class="scroll">中外乐团</span> <a class="LeftBotton"
					onmousedown="ISL_GoUp_1()" onmouseup="ISL_StopUp_1()"
					onmouseout="ISL_StopUp_1()" href="javascript:void(0);"
					target="_self"></a>
				<div class="pcont" id="ISL_Cont_1">
					<div class="ScrCont">
						<div id="List1_1">
							<!-- piclist begin -->
					{pc:content action="lists" catid="15" order="listorder DESC"
					num="7" moreinfo="1" } {loop $data $r}
					<a class="pl" href="{$r[url]}"><img src="{thumb($r[thumb],195,115)}" alt=""
								width="195" height="115" /></a>
					{/loop} {/pc}
							<!-- piclist end -->
						</div>
						<div id="List2_1"></div>
					</div>
				</div>
				<a class="RightBotton" onmousedown="ISL_GoDown_1()"
					onmouseup="ISL_StopDown_1()" onmouseout="ISL_StopDown_1()"
					href="javascript:void(0);" target="_self"></a>
			</div>
			<div class="c"></div>
			<script type="text/javascript">
        <!--
        picrun_ini()
        //-->
        </script>
			<div class="bottomList clearfix">
				<h3 class="tit">乐团历史</h3>
				<ul class="news">
					{pc:content action="lists" catid="15" order="listorder DESC"
					num="7" moreinfo="1" } {loop $data $r}
					<li><a href="{$r[url]}">{$r[title]}</a></li> {/loop} {/pc}
				</ul>
			</div>
			<div class="bottomList clearfix">
				<h3 class="tit">重要活动</h3>
				<ul class="news">
					{pc:content action="lists" catid="16" order="listorder DESC"
					num="7" moreinfo="1" } {loop $data $r}
					<li><a href="{$r[url]}">{$r[title]}</a></li> {/loop} {/pc}
				</ul>
			</div>
			<div class="bottomList clearfix">
				<h3 class="tit">管乐节日</h3>
				<ul class="news">
					{pc:content action="lists" catid="17" order="listorder DESC"
					num="7" moreinfo="1" } {loop $data $r}
					<li><a href="{$r[url]}">{$r[title]}</a></li> {/loop} {/pc}
				</ul>
			</div>
		</div>
	</div>
	<!--main-->
	<!-- 
<div class="main">
	<div class="col-left">
    	<div class="news-hot">
        	<div class="content">
        	{pc:content  action="position" posid="2" order="listorder DESC" num="4"}
        	 {loop $data $r}
                <h4 class="blue"><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],36,'')}</a></h4>
                <p>{if $n==1}<img src="{thumb($r[thumb],90,60)}" width="90" height="60"/>{/if}{str_cut($r[description],112)}</p>
                <div class="bk20 hr"><hr /></div>
               {/loop}  
             {/pc}   
            </div>
        </div>
        <div class="slide">
            <div class="FocusPic">
            {pc:content  action="position" posid="1"  order="listorder DESC" thumb="1" num="5"}
            	<div class="content" id="main-slide">
                    <div class="changeDiv">  
                    {loop $data $r}
                        <a href="{$r['url']}" title="{str_cut($r['title'],30)}"><img src="{thumb($r['thumb'],310,260)}" alt="{$r['title']}" width="310" height="260" /></a>
                    {/loop}
                    </div>
                </div>
            {/pc}
            </div>
            <div class="bk10"></div>
        	<div class="box extend">
            	<div class="col-left">争议</div>
                <div class="col-auto">
				{pc:block pos="index_block_1"}{/pc}
				</div>
                <script language="javascript" src="{APP_PATH}caches/poster_js/10.js"></script>
            </div>
        </div>
        <div class="bk10"></div>
        <div class="box">
        		<h5>图片新闻</h5>
          {pc:content  action="position" posid="12" thumb="1" order="listorder DESC" num="10"}
            <ul class="content news-photo picbig">
             {loop $data $r}
            	<li>
                    <div class="img-wrap">
                        <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],110,0)}" title="{$r[title]}"/></a>
                    </div>
                    <a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],20)}</a>
                </li>
                {/loop}
            </ul>
            {/pc}
        </div>
        <div class="bk10"></div>
        {loop subcat(0,0,0,$siteid) $r}
        {php $num++}
        <div class="box cat-area" {if $num%2!=0}style=" margin-right:10px"{/if}>
        		<h5 class="title-1">{$r[catname]}<a href="{$r[url]}" class="more">更多>></a></h5>
             <div class="content">
             {pc:content  action="lists" catid="$r[catid]" order="updatetime DESC" thumb="1" num="1" return="info"}
             {loop $info $v}
             	<p>
             		<img src="{thumb($v[thumb],90,0)}" width="90" height="60"/>
                    <strong><a href="{$v['url']}" target="_blank" title="{$v['title']}"{title_style($v[style])}>{str_cut($v['title'],28)}</a></strong><br />{str_cut($v['description'],100)}
                </p>
              {/loop}
              {/pc}                
                <div class="bk15 hr"></div>
                {pc:content action="lists" catid="$r[catid]" num="5" order="id DESC" return="info"}

                <ul class="list lh24 f14">
                {loop $info $v}
                	<li>·<a href="{$v['url']}" target="_blank" title="{$v['title']}"{title_style($v[style])}>{str_cut($v['title'],40)}</a></li>
                {/loop}
                </ul>
                {/pc}
            </div>
        </div>
        {if $num%2==0}<div class="bk10"></div>{/if}
		{/loop}
    </div>
    <div class="col-auto">
    	<div class="box">
        	 <h5 class="title-2">公告<a href="" class="more">&nbsp;</a></h5>
             <div class="content">
                {pc:announce  action="lists" siteid="$siteid" num="2"}
                <ul class="list lh24 f14">
                   {loop $data $r}
                     <li> <a href="{APP_PATH}index.php?m=announce&c=index&a=show&aid={$r['aid']}">{$r['title']}</a></li>
                   {/loop}
                </ul>
                {/pc}
            </div>
        </div>
        <div class="bk10"></div>
        <div class="box">
        	<h5 class="title-2">专题<a href="{APP_PATH}index.php?m=special&c=index&a=special&siteid={$siteid}" class="more">更多>></a></h5>
            <div class="content special">
            {pc:special  action="lists" siteid="$siteid" elite="1" listorder="3" num="2"}
            {loop $data $r}
            	{if $n!=1}<div class="hr bk15"></div>{/if}
                <p style="margin:0">
             		<a href="{$r[url]}"><img src="{$r[thumb]}" width="90" height="70" /></a>
                    <strong><a href="{$r[url]}">{str_cut($r[title],'18')}</a></strong><br />{str_cut($r['description'],50)}
                </p>
            {/loop}
            {/pc}
            </div>
        </div>
        <div class="bk10"></div>
        <div class="box">
            <h5 class="title-2"><span class="rt fn f12 tab SwapTab"><span class="fb">热点</span> | <span >评论</span> | <span>关注</span></span>排行</h5>
            <div class="tab-content">
            <ul class="content digg">
			{pc:content action="hits" catid="6" num="10" order="views DESC"}
				{loop $data $r}
					<li><a href="{$r[url]}" target="_blank" title="{$r[title]}"{title_style($r[style])}>{$r[title]}</a></li>
				{/loop}
			{/pc}
            </ul>
            <ul class="content digg hidden">
			{pc:comment action="bang" num="10" cache="3600"}
				{loop $data $r}
					<li><a href="{$r[url]}" target="_blank">{$r[title]}</a></li>
				{/loop}
			{/pc}
            </ul>
            <ul class="content digg hidden">
			{pc:content action="hits" catid="6" num="10" order="views DESC"}
				{loop $data $r}
					<li><a href="{$r[url]}" target="_blank">{$r[title]}</a></li>
				{/loop}
			{/pc}
            </ul>
            </div>
        </div><div class="bk10"></div>
        <div class="box">
            <h5 class="title-2">调查问卷<a href="{APP_PATH}index.php?m=vote&c=index&siteid={$siteid}" class="more">更多>></a></h5>
 
<script language="javascript" src="{APP_PATH}index.php?m=vote&c=index&a=show&action=js&subjectid=1&type=3"></script>
        </div>
    </div>
    <div class="bk10"></div>
	
	<div class="box blogroll ylink">
    	<h5><a href="{APP_PATH}index.php?m=link&siteid={$siteid}" hidefocus="true" class="rt">更多>>12</a>友情链接1<a href="{APP_PATH}index.php?m=link&c=index&a=register&siteid={$siteid}" class="red">申请链接</a></h5>
        <div class="bk10"></div>
	<ul class="colli imgul">
        {pc:link  action="type_list" siteid="$siteid" linktype="1" order="listorder DESC" num="8" return="pic_link"}
        {loop $pic_link $v}
        <li><a href="{$v['url']}" title="{$v['name']}" target="_blank"><img src="{$v[logo]}" width="88" height="31" /></a></li>
        {/loop}
        {/pc}
    </ul>
     {pc:link  action="type_list" siteid="$siteid" order="listorder DESC" num="10" return="dat"}
     <div class="bk10"></div>
	<div class="linka">
		{loop $dat $v}
              {if $type==0}
              <a href="{$v[url]}" target="_blank">{$v[name]}</a> |
              {else}
              <a href="{$v[url]}" target="_blank"><img src="{$v[logo]}" width="88" height="31" style="border: 1px solid #FFBE7A;"></a> 
              {/if}
		{/loop}
 	</div>
	{/pc}
</div>
</div>
<script type="text/javascript"> 
$(function(){
	new slide("#main-slide","cur",310,260,1);//焦点图
	new SwapTab(".SwapTab","span",".tab-content","ul","fb");//排行TAB
})
</script>
 -->
	{template "content","footer"}